
.cardDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ccc;
    /* margin-top: 50px; */
    padding: 1rem;
    /* margin: 50px; */
    max-width: 100%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    /* font-size: 1.25rem; */
}

.img{
    border-radius: 12px;
    margin-bottom: 15px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    max-width: 25rem;
    margin: 25px;
    padding: 1rem;
    
}

.buttonName{
    margin-left: 15px;
}

.content{
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}